@namespace HttpShare.Views.Users

@{
    Layout = "../_Layout";
}

@using HttpShare.Models

@model LogInPasswordModel

<main>
    @using (Html.BeginForm(FormMethod.Post, true, null))
    {
        @Html.LabelFor(m => m.DisplayName, "Display Name:")
        @Html.TextBoxFor(m => m.DisplayName)

        @Html.LabelFor(m => m.Password, "Password:")
        @Html.PasswordFor(m => m.DisplayName)

        <button type="submit">
            <p>Continue</p>
        </button>
    }
</main>
