@namespace HttpShare.Views.Users

@{
    Layout = "../_Layout";
}

@using HttpShare.Controllers

<main>
    @using (Html.BeginForm("LogIn", "User", null, FormMethod.Post, true, null))
    {
        <label for="displayName">Display Name:</label>
        <input type="text" id="displayName" name="displayName" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">
            <p>Continue</p>
        </button>
    }
</main>

@if (ViewData[UserController.ErrorsKey] is not null)
{
    <div>
        <strong>Errors</strong>

        <ol>
            @foreach (string error in (ViewData[UserController.ErrorsKey] as string[])!)
            {
                <li>@error</li>
            }
        </ol>
    </div>
}
