@* Copyright 2024 Hilde801 (https://github.com/hilde801) *@
@* This file is a part of http-share *@

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@(ViewData["PageTitle"])</title>
</head>

<body>
    @RenderBody()
</body>
</html>
